body, html {

    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}


/* =============
    NAV BAR
   ============= */


ul {

    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 24px;
    font-size: 18px;
    color: #E5E7EB;
}


.header-logo {

    display: inline;
    font-size: 24px;
    color: #F9FAF8;
    padding-left: auto;
}


nav { 

    display: flex;
    justify-content: center;
    gap: 550px;
    
}


/* =============
    TOP-CONTENT
   ============= */

   .top-content {

    padding-top: 5em;
    display: flex;
    height: 25em;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;
    gap: 5em;
    flex-wrap: nowrap;
    
   }


.image-right {

    flex-basis: 30em;
    height: 15em;
    flex-shrink: 0;
    background-color: grey;
}

.text-left {

    flex-basis: 30em;
    
    

}

nav,
.top-content {

    background-color: #1F2937 ;
    color: white;
}


button {

    display: block; 
    margin-top: 2em;
    background: #3882F6;
    padding: 5px 2em;
    border-radius: 0.4em;
    color: white;
    font-weight: bold;
    border: none;
}

h1 {

    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}

/* .nav-top-container {

    padding: 0 40em;
    background-color: #1F2937;
}
*/

/* =============
    MIDDLE CONTENT
   ============= */



   .text-middle {

    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-top: 1em;
   }


   .img-middle {

     display: flex;
     gap: 7em;
     justify-content: center;
     padding-top: 4em;
     flex-wrap: wrap;
     margin-bottom: 10em;

   }


   .imgbox {

    flex-basis: 11em;
    height: 11em;
    border: 4px solid #3882F6 ;
    border-radius: 1em;
    box-sizing: border-box;
    
    
   }


   .imgbox-container {

    display: flex;
    flex-basis: 11em;
    flex-flow: column nowrap;
    
   }


   .imgbox-text {

    text-align: center;
   }



   /* =============
    INSPIRING QUOTE
   ============= */
   


   .quote-layer {

    display: flex;
    height: 294px;
    justify-content: center;
    align-items: center;
    background: #E5E7EB;
    padding: 120px 0;

   }


   .quote-container {

    flex-basis: 800px;
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;

   }

   p {
       text-align: right;
       font-size: 26px;
   }



   /* =============
    BOTTOM LAYER
   ============= */


   .bottom-layer {

    display: flex;
    height: 294px;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 120px 0;

   }

.action-container {

    display: flex;
    flex-basis: 900px;
    height: 120px;
    color: white;
    background: #3882F6 ;
    border-radius: 0.7em;
    justify-content: space-evenly;
    align-items: center;

}

.p1 {

    text-align: left;
    margin: 0;
    padding: 0;
    font-weight: bolder;
    font-size: 18px;

}

.p2 {

    font-size: 14px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.pbutton {

    display: inline-block;
    border: 1px solid white;
    border-radius: 0.5em;
    height: 28px;
    margin: 0;

}

.con-right-box {
    display: flex;
    align-items:  center;



}





#footer {

    display:flex;
    height: 150px;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    align-items: center;
    
}

